<div class="container mt-3">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link"
         [class.active]="zakladka === 'prostokat'"
         (click)="zakladka = 'prostokat'">
        Prostokąt
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
         [class.active]="zakladka === 'wielokat'"
         (click)="zakladka = 'wielokat'">
        Wielokąt
      </a>
    </li>
  </ul>

  <div class="mt-3">
    <app-prostokat *ngIf="zakladka === 'prostokat'"></app-prostokat>
    <app-wielokat *ngIf="zakladka === 'wielokat'"></app-wielokat>
  </div>
</div>